main {
    padding: 0;
}
/***************************************************
******************** TIME-LINE *********************
***************************************************/
#time-line {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 90px;
}

#linha {
    margin-left: 50%;
    margin-bottom: -2400px;
    margin-top: 90px;
    background-color: #999;
    width: 1px;
    height: 2400px;
    transition: all 0.3s ease-in-out;
}

.bolinha { 
  margin-top: 150px;
  background: #828282;
  margin-left: 49.5%;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  transition: all 0.3s ease-in-out;
}

/***************************************************
********************* CONTEÚDOS ********************
***************************************************/
.sociologos-conteudo {
    margin-top: -250px;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    filter: blur(3px);
    z-index: 0;
    transition: all 0.3s ease-in-out;
}

.sociologos {
    height: 600px;
    margin: 50px;
}

#fundo {
    background: url("../img/fundo-timeline.png") no-repeat fixed center / cover;
}

.nomes {
    margin-left: 30%;
    margin-top: -25px;
    font-size: 35px;
    transition: all 0.3s ease-in-out;
}

.sociologos-conteudo img {
        transition: all 0.3s ease-in-out;
    }

.sociologos-conteudo ul {
    list-style: none;
    display: flex;
    height: 444px;
    text-align: center;
}

.sociologos-conteudo ul li {
    width: 100%;
}

.sociologos-conteudo ul li p {
    padding: 70px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

.geral-sociologos:hover .bolinha {
    background: #A52A2A;
}

.geral-sociologos:hover .sociologos-conteudo {
    filter: none;
    transition: all 0.3s;
}

.titulo {
    transition: all 0.3s ease-in-out;
}

.geral-sociologos:hover .titulo{
    transition: all 0.3s ease-in-out;
}

.geral-sociologos:hover .nomes{
    font-size: 39px;
    transition: all 0.6s ease-in-out;
}

/*****************************************************************************************
********** MEDIA QUERY 960 (Tablets em formato paisagem e monitores antigos) *************
******************************************************************************************/
@media (max-width:960px) {
    #linha {
        margin-left: 25px;
        margin-bottom: -2380px;
        height: 2380px;
    }
    
    .bolinha {
        margin-left: 18px;
    }
    
    .sociologos {
        height: 650px;
        margin: 5px;
        margin-left: 40px;
    }
       
    .sociologos-conteudo ul li p {
        padding: 150px 0 0 0;
        transition: all 0.3s ease-in-out;
    }
    
    .nomes {
        font-size: 15px;
    }
    
    .geral-sociologos:hover .nomes {
        font-size: 1.3em;
    }
    
    .sociologos-conteudo img {
        width: 80%;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    }
    
}

/*****************************************************************************************
******************* MEDIA QUERY 768 (Tablets em formato retrato) *************************
******************************************************************************************/
@media (max-width:768px) {
    .sociologos-conteudo ul li p {
        padding: 80px 0 0 0;
        transition: all 0.3s ease-in-out;
    }
    .sociologos-conteudo img {
        padding-top: 50px;
        transition: all 0.3s ease-in-out;
    }
}

/*****************************************************************************************
*************** MEDIA QUERY 480 (Smartphones em formato paisagem) ************************
******************************************************************************************/
@media (max-width:480px) {
    .sociologos-conteudo ul li p {
        padding: 0 5px 0 0;
        transition: all 0.3s ease-in-out;
    }
    .bolinha {
        margin-top: 200px;  
    }
}

