/* ------------ Importando fontes Google Fontes ------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto'); /* Fonte para conteúdo */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab'); /* Fonte para Títulos */

/* ----- RESET DO ESTILO ------*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font-family: 'Roboto', 'Century Gothic', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

/* ==================== MENU (NAV) ====================*/
/* ======= LOGO ======= */
.menu-principal .logo {
  color: #fff;
  width: 150px;
  height: 40px;
  display: block;
  font-size: 1.3em;
  line-height: 37px;
  text-indent: 55px;
  margin: 15px 30px 0 70px;
  background: url("../img/logo-sociologia.png") no-repeat left / 40px;
}


/* ====== NAVEGAÇÃO ====== */
.menu-principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: rgba(28, 28, 28, 0.3);
    position: fixed;
    z-index: 1;
    transition: all 0.7s;
    z-index: 1;
}

.menu-principal:hover {
    background: black;
    transition: all 0.7s;
}

.menu-principal ul {
    list-style: none;
    display: flex;
    line-height: 70px;
}

.menu-principal ul a {
    color: #fff;
    display: block;
    text-align: center;
    background: rgba(28, 28, 28, 0.4);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.menu-principal ul li {
    width: 150px;
}

.menu-principal ul a:hover{
    color: #D3D3D3;
    background-color: rgba(75, 75, 75, 0.7);
    border-bottom: 2px solid #D3D3D3;
}

.menu-principal ul a:active {
    background-color: rgba(150, 150, 150, 0.7);
}

/* ==================== CABEÇALHO (HEADER) ====================*/

header {
  width: 100%;
}

/* -----------------------------
    Header
      |- Banner
 ----------------------------- */

header .banner {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-end;
  background: url("../img/hero-image-sociologia.jpg") no-repeat fixed left center / cover;
}

/* -----------------------------
    Header
      |- Banner
        |- Painel Lateral
 ----------------------------- */

.painel-lateral {
  width: 35%;
  height: 210px;
  min-width: 470px;
  padding: 20px 0px 0px 30px;
  background: rgba(0, 0, 0, 0.6);
}

.painel-lateral h2, .painel-lateral p{
  color: #fff;
  padding: 10px;
}

.painel-lateral h2 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Josefin Slab', serif;
}

.painel-lateral a { color: lightblue; padding: 10px;}

/* -----------------------------
    html, body (configuração para footer fixo)
 ----------------------------- */
html, body {height:100%;}

/* -----------------------------
    Main, geral (Conteúdo Principal)
 ----------------------------- */
.geral {
   min-height:100%;
   display: flex;
   flex-direction: column;
 }

main {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 30px 20px 30px;
  justify-content: space-between;
}

main .content-container {
  padding: 10px;
  width: 305px;
}

main .content-container h1 {
  color: #353638;
  font-size: 1.5em;
  text-align: center;
  padding: 0 0 15px 0;
  font-family: 'Josefin Slab', serif;
}

main .content-container p {
  color: #4d4e51;
  position: relative;
  text-align: center;
  z-index: 0;
}

/* ------ Efeito fade out parágrafo ------- */
main .content-container p::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(to bottom, transparent 60%, #fff);
  background-image: linear-gradient(to bottom, transparent 60%, #fff);
}

/* ------ Efeito fade out parágrafo ------- */
main .content-container p:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(to bottom, transparent 60%, #fff);
  background-image: linear-gradient(to bottom, transparent 60%, #fff);
}

.content-container img {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 20px;
}

/* -----------------------------
    rodape (Conteúdo do rodape)
 ----------------------------- */

.rodape {
  display: block;
  bottom:0;
  width:100%;
  background: rgb(125,126,125);
  background: -moz-linear-gradient(top, rgb(125,126,125) 0%, rgb(14,14,14) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,126,125)), color-stop(100%,rgb(14,14,14)));
  background: -webkit-linear-gradient(top, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  background: -o-linear-gradient(top, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  background: -ms-linear-gradient(top, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  background: linear-gradient(to bottom, rgb(125,126,125) 0%,rgb(14,14,14) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  padding-top: 30px;
  margin-top: 2px;

}

.rodape p{
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
  font-family: 'Roboto', 'Century Gothic', sans-serif;
}

.rodape a{
  text-decoration: none;
  color: #fff
}
